<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-dark bg-gradient rounded-3 animated fadeIn fast ">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Villa Maria - MOTOS</h1>
        <p class="col-md-8 fs-4">Explora las diferentes moticicletas que tenemos a la venta.</p>
        <button (click)="verMoto()" type="button" class="btn btn-outline-primary btn-block">
          Explorar
        </button>
      </div>
    </div>

    <div class="row align-items-md-stretch animated fadeIn fast">
      
    </div>
  <br>

  
    <footer class="pt-3 mt-4 text-muted border-top">
      <p>Dev: Emiliano Jesus Roldan</p> 
      <p>Todos los derechos Resercados</p>
      <p>Programación 3</p>
      &copy; 2023
    </footer>
  </div>
</main>


    
